.modal a.close-modal[class*="icon-"] {
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    color: #fff;
    line-height: 1;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    background: rgb(151, 10, 10);
    border: 2px solid #fff;
    border-radius: 26px;
    -moz-box-shadow:    1px 1px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    box-shadow:         1px 1px 5px rgba(0,0,0,0.5);
}

.modal-title{
    text-align: center;
    font-weight: bold;
    margin-top:15px;
}

.modal-description {
    text-align: center;
    font-size: 16px;
    margin-bottom: 4px;
    justify-content: center;
}

.modal-form {
    margin: 0 auto;
    padding: 30px;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.modal-input {
    display: block;
    margin-bottom: 16px;
    background:rgb(252, 252, 252);
}

.modal-input {
    width:80%;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 3px solid rgb(74,116,195);
    transition: all 0.5s;
    outline: none;
}

.modal-input:focus{
    border: 3px solid rgba(49,133,182,1);
}

.modal-btn[type="submit"] {
    margin-top: 10px;
    width: 60%;
    padding: 10px;
    background-color: rgb(74,116,195);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s;
}

.modal-btn[type="submit"]:hover {
    background-color: rgba(49,133,182,1);
}